<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{asset "/apple-touch-icon-57x57.png"}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset "/apple-touch-icon-60x60.png"}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "/apple-touch-icon-72x72.png"}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset "/apple-touch-icon-76x76.png"}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "/apple-touch-icon-114x114.png"}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "/apple-touch-icon-120x120.png"}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset "/apple-touch-icon-144x144.png"}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "/apple-touch-icon-152x152.png"}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "/apple-touch-icon-180x180.png"}}">
    <link rel="icon" type="image/png" href="{{asset "/favicon-32x32.png"}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{asset "/android-chrome-192x192.png"}}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{asset "/favicon-96x96.png"}}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{asset "/favicon-16x16.png"}}" sizes="16x16">
    <link rel="manifest" href="{{asset "/manifest.json"}}">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="{{asset "/mstile-144x144.png"}}">
    <meta name="theme-color" content="#ffffff">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "casper-zh/css/screen.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

</head>
<body class="{{body_class}} nav-closed" style="line-height: normal">
<div class="site-wrapper">
    {{#post}}

        <header class="main-header post-head no-cover" style="display: inline-block; position: fixed">
            <nav class="main-nav clearfix" style="padding: 17px 40px">
                <a class="menu-button" href="http://jasioblog.qiniudn.com/releases/Jasio_Resume.pdf"><span class="word">PDF下载</span></a>
            </nav>
        </header>

        <main class="content" role="main" >
            <article class="{{post_class}}">

                <header class="post-header" style="margin-bottom: 2rem">
                    <h2 class="post-title">{{title}}</h2>
                </header>

                <section class="post-content">
                    {{content}}
                </section>

            </article>
        </main>
    {{/post}}
</div>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

{{! The main JavaScript file for Casper }}
<script type="text/javascript" src="{{asset "casper-zh/js/jquery.fitvids.js"}}"></script>
<script type="text/javascript" src="{{asset "casper-zh/js/index.js"}}"></script>
<script type="text/javascript">
    var $document = $(document);
    $document.ready(function () {
        $(".menu-button, .nav-cover, .nav-close").off("click");
    });
</script>



</body>
</html>
