{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<header class="tag-archive-header">
    <h4><i class="fa fa-tag"></i><span class="tag-archive-header-name">{{tag.name}}</span></h4>

    <div class="author-meta">
        <span class="author-stats">{{#if tag.description}}{{tag.description}}{{else}}共 {{pagination.total}} 篇文章{{/if}}</span>
    </div>

    <a class="subscribe-button icon-feed" href="{{url}}rss/">Subscribe to this tag</a>
</header>

{{! The tag below includes the post loop - partials/loop.hbs }}
{{> "loop"}}